.App {
  text-align: center;
}

.game-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 1.25rem; 
  justify-content: center;
  max-width: 50%;
  margin: 4.375rem auto 0 auto; 

}
@media (max-width: 37.5rem) {
  .game-list {
    grid-template-columns: repeat(2, 1fr); 
    margin: 4.375rem auto 0 auto; 
  }
}

.error_container{
  margin:0 auto;
  width: 100vw;
}

.error-message {
  font-weight: bold;

}